html, body {
    width: 100vw;
    height: 100%;
    position:absolute;
    overflow-x: hidden;
    background: var(--back-font);
}

/*::-webkit-scrollbar{
    display: none;
}*/

:root{
    --back-font: linear-gradient(#123,#111);
}