html, body {
    width: 100vw;
    height: 100%;
    position:absolute;
    overflow-x:auto;
    scroll-behavior: smooth;
    background: var(--back-font);
}

/*::-webkit-scrollbar{
    display: none;
}*/

:root{
    --back-font: #F5F7FA; 
}