*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

:root{
    --primary-color-font: rgb(0, 38, 81);
    --font-feature-nav: "Jersey 15", sans-serif;
}

.header{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    padding: 0em;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .logo-nav{
    max-width: 90px;
    margin-top: -1.5em;
    margin-left:0em;
}

.header .ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-top: 0.5em;
}

.header .li {
    margin: 3em;
    margin-top: 1em;
}

.header .a{
    text-decoration: none;
    font-size: large;
    font-family: var(--font-feature-nav);
    font-style: normal;
}




