*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --primary-color-font: #9898da;
    --font-feature-nav: "Jersey 15", sans-serif;
}

.header{
    background-color: aliceblue;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header > .logo-nav {
    width: 100px;
}

#nav_home > ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 20px;
}


.header .a{
    text-decoration: none;
    font-size:20px;
    font-family: var(--font-feature-nav);
    color: var(--primary-color-font);
    font-style: normal;
}




