:root{
    --font-p: "Fugaz One", sans-serif;
    --font-title: "Londrina Shadow", sans-serif;
    --gradient-web: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #0a89a8, #40c9ff) border-box;
    --background-web: #df5a5d;
    --background-title: #9898da
}

.about_me{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1,1fr);
    animation: myAnim 2s ease 0s 1 normal forwards;
    align-items:center;
    justify-items: center;
    padding: 30px;
    gap: 15px;
}
.write_about{
    display: grid;
    justify-items: center;
    grid-column: span 1 / span 1;
}

.divisor{
    background-color: white;
    height: 2px;
    width: 50%;
}

.ms_welcome{
    width: 50%;
    padding: 20px;
    text-align:justify;
    color: var(--background-web);
}

.logotype{
    display: grid;
    grid-row: span 2 / span 2 ;
}

.logotype > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    clip-path: circle(50%);
}

.tarjet_pc {
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   padding: 20px;
   justify-content: center;
}

.project_cod2{
    background-color: aqua;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 120px;
    width:400px;
    border-radius: 10px;
    cursor: pointer;
    transition: 400ms;
    padding: 0em;
    margin-left: 0em;
}

.award2{
    background-color:bisque;
    grid-column-start: 2;
    grid-row-start: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 120px;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: 400ms;
    padding: 0em;
    margin-left: 0em;
}

.project_cod2:hover, .award2:hover{
    transform: scale(1.1,1.1);
}

.btn_group{
    display:flex;
    float:right;
    width: 250px;
    height: 100px;
}

.about-main{
    font-family: var(--font-p);
    font-size: 20px;
    font-style: normal;
    padding: 10px;
}

.typing-title{
    font-size: 45px;
    font-style: normal;
    text-align: center;
    padding: 20px;
    color: var(--background-title);
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateX(-250px);
    }
}

@keyframes blink {
    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0);
    }
}

button{
    background-color: aliceblue;
    color: black;
    border-radius: 10em;
    margin: 10px;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;

}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

/* CSS seccion portafolio*/

.parent {
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    gap: 15px;
    padding: 15px;
}

.card{
    width: 300px;
    height: 300px;
    padding: 20px;
    color:var(--background-title);
    background: var(--gradient-web);
    border: 2px solid transparent;
    border-radius: 8px;
    display: grid;
    cursor: pointer;
    transform-origin: top bottom;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}



.card .header-main span:first-child {
    font-weight: 600;
    columns: #717171;
    margin-right: 4px;
}

.card .heading{
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
}

.card .categories{
    display: flex;
    gap: 10px;
}

.card .categories span{
    background-color: #0a89a8;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
}

.card .footer-main{
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
}

.card:hover{
    rotate: -6deg;
}

/* CSS skills*/

.cardd::before{
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    top: 20%;
}

.cardd::before,
.cardd::after {
    content: "";
    background-color: #7090fa4b;
    position: absolute;
    filter: blur(10px);
}

.cards-skill{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    padding: 10px;
}


.cards-skill .skill1,
.cards-skill .skill2,
.cards-skill .skill3 {
    width: 200px;
    height: 180px;
    font-family: "CustomFont", Arial, Helvetica, sans-serif;
    backdrop-filter: blur(30px);
    background-color: rgb(65,65,65, 0.11);
    border: 1px solid rgb(144, 161, 255, 0.171);
}

.cards-skill .cardd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 400ms;
}

.cards-skill .cardd .img_h{
    width: 60%;
}

.cards-skill .cardd:hover{
    transform: scale(1.1,1.1);
}

.cards-skill:hover > .cardd:not(:hover){
    filter: saturate(0%);
    transform: scale(0.9, 0.9);
}

/* CSS form*/

.parent-form{
    display: flex;
    justify-content: center;
    padding: 20px
}

.form-container{
    width: 500px;
    background: var(--gradient-web);
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

.form-container .form-contacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label{
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}
.form-container .form-group input{
    width: 100%;
    padding: 12px 5px;
    border-radius: 8px;
    color: #ffff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 5px;
    border-radius: 8px;
    resize: none;
    color: #ffff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder{
    opacity: 0.5;
}

.form-container .form-group input:focus{
    outline: none;
    border-color: var(--gradient-web);
}

.form-container .form-group textarea:focus{
    outline: none;
    border-color: var(--gradient-web);
}

.position-grid{
    grid-column: span 3 / span 3;
    justify-content: center;
    align-items: baseline;
    display: flex;
}

.title-redes{
    font-family: "Rubik Bubbles", system-ui;
    color: var(--background-web);
}

.redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes > img {
    width: 30px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.msng {
    display: flex;
    justify-content: center;
    font-family: var(--font-title);
    color: var(--background-web);
    font-size: 50px;
    padding: 30px;
}

.footer{
    padding: 50px 50px 20px;
    justify-content: center;
}

.footer-msng{
    text-align: center;
    padding: 20px 0 0 0;
    color: var(--background-web);
}

/*RESPONSIVE MEDIAS-QUERIES*/
@media (max-width: 640px) {
    .about_me {
        grid-template-columns: repeat(1,1fr);
    }

    .cards-skill{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }

    .tarjet_pc{
        display: flex;
        justify-content: center;
    }

    #nav_home {
        display: none;
        visibility: hidden;
    }

     .title-folio{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .parent{
        display: flex;
        justify-content: center;
    }

    .ms_welcome{
        width: 70%;
        font-size: 100%;
    }


}

@media screen and (min-width:640px) and (max-width: 1410px) {
    .cards-skill{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .parent{
        display: flex;
        justify-content: center;
    }
}
